/out/
# Locally supplied development sysroots are external build inputs.
/sysroot/
/third_party/connectedhomeip/.environment/
/third_party/connectedhomeip/out/
/third_party/connectedhomeip/.cache/
/data-model/temperature-humidity.zap
/data-model/temperature-humidity.matter
/third_party/connectedhomeip/examples/matter-temperature-humidity-sensor/
/platforms/sg2002/8051/build/
*.log
*.swp
