[Unit]
Description=Matter temperature and humidity sensor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=matter-sensor
Group=matter-sensor
StateDirectory=matter-temperature-humidity-sensor
WorkingDirectory=/var/lib/matter-temperature-humidity-sensor
ExecStart=/usr/local/bin/matter-temperature-humidity-sensor --sensor-config /etc/matter-temperature-humidity-sensor.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
